* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*font-size: 14px;*/
}

body {
	padding: 40px;
	font-family: 'Montserrat', sans-serif;
	background-color: #dedede;
}
	
.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	background-color: #fff;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
	line-height: 26px;
}

aside {
	width: 370px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #1e2939;
	color: white;
	/*line-height: 26px;*/
}

.my-photo {
	/*width: 370px;*/
	width: 100%;
}

.info-mobile {
	display: none;
}

.contacts,
.tech-skills,
.soft-skills {
	margin: 50px 30px;
}

.title {
	margin-top: 50px;
	line-height: 46px;
}

aside li {
	margin-left: 15px;
	color: #ff6b08;
}

.tech-skills__category {
	color: #8f949c;
}

.tech-skills__name,
.soft-skills__name {
	color: #fff;
}

main {
	padding: 50px 50px;
}

main li {
	margin-left: 15px;
	color: #555;
}

h1 {
	/*color: #555;*/
	color: #8f949c;
}

.info-container h1 {
	margin: 20px 0;
	font-size: 40px;

}

.info-container h2 {
	margin: 20px 0;
}

.experience__item {
	margin-bottom: 20px;
}

.experience__duties {
	font-size: 16px;
	font-weight: bold;
}

.experience__details {
	font-size: 14px; 
	font-weight: 400;
	line-height: 24px;
	color: #8f949c;	
}

.experience__divider {
	color: #ff6b08;
	font-size: 16px;
}

.experience__proj-name {
	font-weight: bold;
}

.education__item {
	margin-bottom: 15px;
}

.education__specialty {
	/*color: #ff6b08;*/
	font-weight: bold;
}

.education__period {
	color: #8f949c;
}


a {
	color: #ff6b08;
	text-decoration: none;
	transition: all ease 0.3s;
}

a:hover {
	color: #FDA367;
}

/*=========================  media-queries ============================*/

@media screen and (max-width: 991px) {
	body {
		padding: 0;
	}
	.wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.contacts,
	.tech-skills,
	.soft-skills {
		margin: 20px 20px;
	}
	.title {
		margin-top: 20px;
	}
	main {
		padding: 20px;
	}
}

@media screen and (max-width: 650px)  {
	.wrapper {
		flex-direction: column;
	}
	aside {
		width: 100%;
		/*padding-top: 10px;
		padding-bottom: 10px;*/
		padding: 15px;
	}
	.my-photo {
		/*width: 270px;*/
		width: 40%;
		float: right;
		margin: 10px;
	}
	.info-mobile {
		padding: 10px 20px;
		display: block;
	}
	.info-mobile h1 {
		font-size: 30px;
		line-height: 48px;
	}
	.info-container h1,
	.info-container h2 {
		display: none;
	}
}

@media screen and (max-width: 479px) {
	.my-photo {
		display: none;
	}
}